<div class="professorclasstablewrapper">
    <div class="w-layout-grid grid">
      <div class="class whitecard">
        <h1 class="classnameprof">Carl McTague</h1>
        <div class="smllprofessorimgwrapper">
          <div class="smllprofessorimg card"></div>
          <div class="veritcal-divider"></div>
          <div class="professorovlcourseknob">

            <p-knob
            [(ngModel)]="classScoreForProfOvl"
            [size] = "160"
            [readonly] = "true"
            [strokeWidth]="12.5"
            [disabled] = "true"
          ></p-knob>


          </div>
        </div>
        <div class="fildwidthdiv"></div>
        <div class="contact-edutextheader">Professor Review</div>
        <div class="smlldiv"></div>
        <div class="reviewaccordian"></div>
      </div>
    </div>
  </div>