.footer {
  height: 10vh;
  background-color: #6d1f22;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.text-block {
  color: #fff;
  margin-left: 20px;
  font-family: "Helvetica Neue 55 Cdnfonts", sans-serif;
}
