<div class="bodydivcontainer">
  <div class="wrap w80">
    <div class="headline-8-col">
      <div class="tagline">feature overview</div>
      <h2 class="heading">Explore Professors, Classes, or other Statistics <br></h2>
    </div>
    <div class="content1-items">
      <div class="_4-col-2">
        <div class="content1-image content1-image1"></div>
        <div class="content1-item-description">
          <div class="decoline decoline-dark"></div>
          <h3 class="heading-4">Search Professors</h3>
          <p class="text-14 text-14-60">Out biggest skill is to create a stunning art pieces and integrate them into your projects and social media posts.</p>
        </div>
      </div>
      <div class="_4-col-2">
        <div class="content1-image content1-image2"></div>
        <div class="content1-item-description">
          <div class="decoline decoline-dark"></div>
          <h3 class="heading-3">Search Courses</h3>
          <p class="text-14 text-14-60">Our second focus is on taking minimalistic pics. We&#x27;ve a team of skilled people who can take a pic of coffee.</p>
        </div>
      </div>
      <div class="_4-col-2 _4-col-last">
        <div class="content1-image content1-image3"></div>
        <div class="content1-item-description">
          <div class="decoline decoline-dark"></div>
          <h3 class="heading-2">Explore Statistics</h3>
          <p class="text-14 text-14-60">And last but not least our focus is on Architecture. Obviously code architecture. We can create the best .divs.</p>
        </div>
      </div>
    </div>
  </div>
</div>
