.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
 
.reviewsheader{

  font-size: 30px;
    font-weight: 700;
    font-family: Inter,sans-serif;

}
  .nameplsemail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .userreviewcell.whitecard {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }


  
  .profilecard {
    height: 100vh;
  }
  
  .profilecard.card {
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .accountdetailswrapper.whitecard {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    display: flex;
  }
  
  .usergrid {
    width: 100%;
  }
  
  .useremail {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: Inter,sans-serif;
  }
  
  .profileheaderwrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  @media screen and (max-width: 991px) {

  
    .usergrid {
      grid-template-columns: 1fr;
    }
  }
  

  
  
  #w-node-_355392ae-e42b-b188-09b5-f15bacd4a3cb-b8492c38 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }