<div class="professorscorebarwrapper">
    <div class="profscoreknobdiv">
      <div class="profscoreknob"></div>
      <div class="knobdataholderdiv">
        <div class="contact-edutextheader">Course Overall</div>
        <div class="smlldiv"></div>
        <div class="description1">Weighted Avg. of every rating given on this class</div>
      </div>
    </div>
    <div class="quaddatadiv">
      <div class="silderdatadiv">
        <div class="silderscore">88</div>
        <div class="smlldiv"></div>
        <div class="sliderdatatext">Attendance Necessary</div>
      </div>
      <div class="silderdatadiv">
        <div class="silderscore">74</div>
        <div class="smlldiv"></div>
        <div class="sliderdatatext">Well Organized</div>
      </div>
      <div class="silderdatadiv">
        <div class="silderscore">61</div>
        <div class="smlldiv"></div>
        <div class="sliderdatatext">Intellectually Challenging</div>
      </div>
      <div class="silderdatadiv">
        <div class="silderscore">No Data</div>
        <div class="smlldiv"></div>
        <div class="sliderdatatext">Assignments Helpful</div>
      </div>
    </div>
  </div>
