.herosection {
  height: 100vh;
  position: relative;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.herowrapperlogotext {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
}

.navsearch {


  margin-top: 26px;
  margin-bottom: 26px;
  width: 35vw;
  height: 65px;

}
.autocomplete-container {

}


.herosectionunderlay {
  margin-top: -5px;
  height: 1000vh;
  background-color: #c5bfb0;
}
@media screen and (max-width: 991px) {
  .herowrapperlogotext {
    padding-top: 79px;
  }

}


@media screen and (max-width: 450px) {
  .navsearch {
    width: 90%;
  }

}
