<app-home-bar></app-home-bar>

<body>
<section class="contentwrapper">
  <div class="w-layout-grid dynamicprofgrid">
    <div id="w-node-d9f8d9d4-fd1f-09b9-4f0d-5f74494a2159-b68642c4" class="card">
      <div class="profimgdatawrapper">
        <div class="professordividertop"></div>
        <div class="card professorimg"></div>
        <div class="professordividerbtm"></div>
        <div class="whitecard whitecontact">
          <div class="professorinfowrapper">
            <div class="contact">
              <div class="contact-edutextheader">Jermery Wilkins</div>
              <div class="smlldiv"></div>
              <div class="contactinfowrapper">
                <div class="title">Head of philosopy and theology department </div>
              </div>
              <div class="fildwidthdiv"></div>
              <div class="contactinfowrapper">
                <div class="data">303-960-9811</div>
                <div class="data">303-960-9811</div>
                <div class="data">303-960-9811</div>
              </div>
            </div>
            <div class="education">
              <div class="fildwidthdiv"></div>
              <div class="contact-edutextheader">Education</div>
              <div class="smlldiv"></div>
              <div class="contactinfowrapper">
                <div class="educationflex">Univeriry of Ubnvierity of Unigerity</div>
                <div class="educationflex">Univeriry of Ubnvierity of Unigerity</div>
                <div class="educationflex">Univeriry of Ubnvierity of Unigerity</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="w-node-e1d71806-b979-52f8-f44f-7e04e8858948-b68642c4" class="card">
      <div class="w-layout-grid profdatagrid">
        <div id="w-node-eabfb9ca-8044-14b0-125e-cbca8a67454b-b68642c4" class="whitecard">
          <div class="professorscorebarwrapper">
            <div class="profscoreknobdiv">
              <div class="profscoreknob"></div>
              <div class="knobdataholderdiv">
                <div class="contact-edutextheader">Professor Overall</div>
                <div class="smlldiv"></div>
                <div class="description1">Weighted avg. of class scores Professor teaches</div>
              </div>
            </div>
            <div class="quaddatadiv">
              <div class="silderdatadiv">
                <div class="silderscore">88</div>
                <div class="smlldiv"></div>
                <div class="sliderdatatext">Instructor Prepared  </div>
              </div>
              <div class="silderdatadiv">
                <div class="silderscore">74</div>
                <div class="smlldiv"></div>
                <div class="sliderdatatext">Clearly Explains Material</div>
              </div>
              <div class="silderdatadiv">
                <div class="silderscore">61</div>
                <div class="smlldiv"></div>
                <div class="sliderdatatext">Available Outside of Class</div>
              </div>
              <div class="silderdatadiv">
                <div class="silderscore">No Data</div>
                <div class="smlldiv"></div>
                <div class="sliderdatatext">Enthusiastic About Course</div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-dfff5bd2-9150-0e9f-1075-ee38b2732c08-b68642c4" class="whitecard">
          <div class="professorclassheaderdiv">
            <h1 class="nameandstatheader">Jeremy Wilkin&#x27;s Class Statistics </h1>
            <div class="fildwidthdiv"></div>
          </div>
          <div class="professorclasstablewrapper">
            <div class="w-layout-grid grid">
              <div class="class whitecard">
                <h1 class="classnameprof">Western Perspectives I </h1>
                <div class="smlldiv"></div>
                <div class="classdatascorediv">
                  <div class="classdatawrapper">
                    <div class="subject">Computer Science</div>
                    <div class="classcodecollegetxt">CSCI2247 | MCAS</div>
                  </div>
                  <div class="veritcal-divider"></div>
                  <div class="classscoreknobproftable"></div>
                </div>
                <div class="contact-edutextheader">Course Description</div>
                <div class="smlldiv"></div>
                <div class="crsdesct">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#x27;Content here, content here&#x27;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#x27;lorem ipsum&#x27; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
              </div>
              <div class="class whitecard">
                <h1 class="classnameprof">Western Perspectives I </h1>
                <div class="smlldiv"></div>
                <div class="classdatascorediv">
                  <div class="classdatawrapper">
                    <div class="subject">Computer Science</div>
                    <div class="classcodecollegetxt">CSCI2247 | MCAS</div>
                  </div>
                  <div class="veritcal-divider"></div>
                  <div class="classscoreknobproftable"></div>
                </div>
                <div class="contact-edutextheader">Course Description</div>
                <div class="smlldiv"></div>
                <div class="crsdesct">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#x27;Content here, content here&#x27;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#x27;lorem ipsum&#x27; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
              </div>
              <div class="class whitecard">
                <h1 class="classnameprof">Western Perspectives I </h1>
                <div class="smlldiv"></div>
                <div class="classdatascorediv">
                  <div class="classdatawrapper">
                    <div class="subject">Computer Science</div>
                    <div class="classcodecollegetxt">CSCI2247 | MCAS</div>
                  </div>
                  <div class="veritcal-divider"></div>
                  <div class="classscoreknobproftable"></div>
                </div>
                <div class="contact-edutextheader">Course Description</div>
                <div class="smlldiv"></div>
                <div class="crsdesct">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#x27;Content here, content here&#x27;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#x27;lorem ipsum&#x27; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
              </div>
              <div class="class whitecard">
                <h1 class="classnameprof">Western Perspectives I </h1>
                <div class="smlldiv"></div>
                <div class="classdatascorediv">
                  <div class="classdatawrapper">
                    <div class="subject">Computer Science</div>
                    <div class="classcodecollegetxt">CSCI2247 | MCAS</div>
                  </div>
                  <div class="veritcal-divider"></div>
                  <div class="classscoreknobproftable"></div>
                </div>
                <div class="contact-edutextheader">Course Description</div>
                <div class="smlldiv"></div>
                <div class="crsdesct">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#x27;Content here, content here&#x27;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#x27;lorem ipsum&#x27; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>








<app-footer></app-footer>
