.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.navbar {
  height: 11vh;
  background-color: #5c0d0f;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.footer {
  height: 10vh;
  background-color: #6d1f22;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}



.text-block {
  color: #fff;
  margin-left: 20px;
  font-family: Exo, sans-serif;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.mainsection {
  background-color: #f7f8fc;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dynamicprofcontent {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: .5fr 1fr;
}

.professornamelarge {
  text-align: center;
}

.contentwrapper {
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.professor-image.card {
  width: 100%;
  height: 850px;
 background-image: url('https://www.bc.edu/content/bc-web/schools/mcas/departments/theology/people/faculty-directory/jeremy-wilkins/_jcr_content/profileImage.img.png');

  background-position: 50%;
  background-size: cover;
}

.heading-6 {
  text-align: center;
}

.card {
  background-color: #fff;
  border: 1px solid #e6e9f1;
  border-radius: 12px;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .09);
}

.dataspecificgridwrap {
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: ". ."
                       "Area Area"
                       "Area-2 Area-2"
                       "Area-3 Area-3"
                       "Area-4 Area-4";
  padding: 20px;
}

.knobdata.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 20px;
  padding: 24px;
  display: flex;
}

.sliderdatadiv.card {
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.sliderdatadiv.card.bottomslider {
  margin-bottom: 0;
}

.profinfodiv.card {
  margin: 20px 20px 20px 0;
}

.sliderobjects {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.sliderheadings {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.sliderheadings.profscore {
  font-size: 20px;
}

.slideranddescription {
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  display: flex;
}

.stronglyagreeordiss {
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
  display: flex;
}

.primengslider {
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.agreeordisstxt {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 5px;
}

.sliderdatatypediv {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  display: flex;
}

.vertical-divider {
  width: 2px;
  background-color: #e6e9f1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.knobdescrtiption.card {
  width: 100%;
  height: auto;
  background-color: #dfdfdf;
  border-width: 1.2px;
  border-color: #cacaca;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.primengknobprofovrl {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-100 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.286em;
}

.text-100.medium {
  font-weight: 500;
}

.close-icon-line {
  max-height: 15px;
  max-width: 2px;
  min-height: 15px;
  min-width: 2px;
  background-color: #454e66;
  border-radius: 10px;
  position: absolute;
}

.close-icon-line.second {
  transform: rotate(-45deg);
}

.close-icon-line.first {
  transform: rotate(45deg);
}

.notification-bar-icon {
  max-width: 18px;
  min-width: 18px;
  border-radius: 100%;
}

.notification-bar-icon.blue {
  box-shadow: 0 1px 2px rgba(61, 115, 255, .36);
}

.notification-bar-main-container {
  width: 100%;
  grid-column-gap: 48px;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  display: flex;
}

.flex {
  display: flex;
}

.flex.align-start {
  align-items: flex-start;
}

.close-icon-wrapper {
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.notification-bar {
  transform-origin: 50% 0;
  background-color: #f7f8fc;
  border: 1.2px solid #eff1f6;
  border-radius: 8px;
}

.notification-bar.blue {
  width: 100%;
  background-color: #eaf4ff;
  border-color: #8fc3ff;
}

.heading-7 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.div-block {
  width: 35px;
  height: 2px;
  background-color: #bebfc2;
}

.heading-8 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.spacerhoriz {
  width: 40px;
  height: 2px;
  background-color: rgba(172, 172, 172, .52);
  margin-top: 7px;
  margin-bottom: 7px;
}

@media screen and (max-width: 767px) {
  .crestimageholder {
    width: 15vh;
    height: 15vh;
    margin-top: 23px;
  }

  .card {
    box-shadow: 0 2px 12px rgba(20, 20, 43, .04);
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    height: 8vh;
  }

  .crestimageholder {
    width: 10vh;
    height: 10vh;
    margin-top: 19px;
  }
}

#w-node-c87be3b7-c141-005e-9f22-f1ade205e490-bca6b5a5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_1f2ae32f-a360-e950-5bea-c98badf7a3f2-bca6b5a5, #w-node-aa7a8a2f-c845-0fce-f654-85ceb364e554-bca6b5a5, #w-node-e211b9d4-0e08-2720-9313-0428ac4843e1-bca6b5a5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_95dac4bd-9b80-4676-ae0a-c18e352028ff-bca6b5a5, #w-node-e381e299-4ce1-d895-168d-51c34a0b65ef-bca6b5a5 {
  grid-area: Area;
}

#w-node-a199bd73-aaf9-6117-3178-8728a85d5cad-bca6b5a5 {
  grid-area: Area-2;
}

#w-node-_75a4d4e9-2782-7447-93c2-b96dafa9f4b4-bca6b5a5 {
  grid-area: Area-3;
}

#w-node-_587fad7d-1f9a-5278-b549-06e5d178121f-bca6b5a5 {
  grid-area: Area-4;
}
