
.contentwrapper {
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px
}
.card {
  background-color: #eee;
  border: 1px solid #e6e9f1;
  border-radius: 12px;
  box-shadow: 2px 3px 7px 2px rgba(20,20,43,.09)
}
.card.professorimg {
  width: 100%;
  height: 500px;
  background-image: url('/assets/JeremyWilkins.jpeg');
  background-position: 50% 10%;
  background-size: cover
}

.dynamicprofgrid {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: .4fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px
}
.profdatagrid {
  grid-template-columns: 1fr;
  margin: 20px
}

.whitecard.whitecontact {
  width: 100%
}

.professordividertop {
  width: 75%;
  height: 2px;
  background-color: rgba(172,172,172,.52);
  margin-bottom: 20px
}
.profimgdatawrapper {
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex
}
.professordividerbtm {
  width: 75%;
  height: 2px;
  background-color: rgba(172,172,172,.52);
  margin-top: 20px;
  margin-bottom: 20px
}
.professorinfowrapper {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex
}



@media screen and (max-width:991px) {
  .contentwrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
  }
  .dynamicprofgrid {
    grid-template-columns: 1fr
  }
}
@media screen and (max-width:767px) {
  .card {
    box-shadow: 0 2px 12px rgba(20,20,43,.04)
  }

}
@media screen and (max-width:479px) {
  .contentwrapper {
    padding-left: 0;
    padding-right: 0
  }
  .card.professorimg {
    height: 300px
  }

  .dynamicprofgrid {
    grid-template-columns: 1fr
  }



}
#w-node-d9f8d9d4-fd1f-09b9-4f0d-5f74494a2159-b68642c4,
#w-node-dfff5bd2-9150-0e9f-1075-ee38b2732c08-b68642c4,
#w-node-e1d71806-b979-52f8-f44f-7e04e8858948-b68642c4,
#w-node-eabfb9ca-8044-14b0-125e-cbca8a67454b-b68642c4 {
  grid-area: span 1/span 1/span 1/span 1
}