<app-home-bar></app-home-bar>


<div class="mainsection">
  <div class="contentwrapper">
    <div class="w-layout-grid dynamicprofcontent">


   <app-prof-card></app-prof-card>


      <div id="w-node-_1f2ae32f-a360-e950-5bea-c98badf7a3f2-bca6b5a5" class="card">

        <div class="w-layout-grid dataspecificgridwrap">
          <app-score-knob></app-score-knob>
          <app-prof-contact></app-prof-contact>


          <div id="w-node-_95dac4bd-9b80-4676-ae0a-c18e352028ff-bca6b5a5" class="sliderdatadiv card">
            <app-instructor-prepared></app-instructor-prepared>
          </div>

          <div id="w-node-a199bd73-aaf9-6117-3178-8728a85d5cad-bca6b5a5" class="sliderdatadiv card">

            <app-clear-material></app-clear-material>

          </div>
          <div id="w-node-_75a4d4e9-2782-7447-93c2-b96dafa9f4b4-bca6b5a5" class="sliderdatadiv card">

           <app-avibl-outside-class></app-avibl-outside-class>

          </div>
          <div id="w-node-_587fad7d-1f9a-5278-b549-06e5d178121f-bca6b5a5" class="sliderdatadiv card bottomslider">

            <app-enth-course-material></app-enth-course-material>

          </div>
        </div>
      </div>
    </div>

    <app-prof-table></app-prof-table>
  </div>
</div>


<router-outlet></router-outlet>
