
.dynamicprofcontent {
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: .5fr 1fr;
  margin-top: 30px;
}

.contentwrapper {
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.professorimagenamediv.card {
  width: 100%;
  height: 800px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  display: flex;
}

.card {
  background-color: #eee;
  border: 1px solid #e6e9f1;
  border-radius: 12px;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .09);
}

.dataspecificgridwrap {
  background-color: #eee;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: ". ."
                       "Area Area"
                       "Area-2 Area-2"
                       "Area-3 Area-3"
                       "Area-4 Area-4";
  padding: 10px;
}

.knobdata.card {
  height: 93%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 20px;
  padding: 24px;
  display: flex;
}

.sliderdatadiv.card {
  height: 70px;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

.sliderdatadiv.card.bottomslider {
  margin-bottom: 0;
}

.profinfodiv.card {
  height: 93%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 20px 20px 0;
  padding: 24px;
  display: flex;
}

.profinfodiv.card.averagehoursweekly {
  justify-content: center;
  align-items: center;
}

.profinfodiv.card.classinfo {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.sliderobjects {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.sliderheadings {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.sliderheadings.profscore {
  font-size: 22px;
}

.sliderheadings.profscore.contact {
  text-align: left;
  font-size: 20px;
}

.slideranddescription {
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  display: flex;
}

.stronglyagreeordiss {
  width: 95%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  display: flex;
}

.primengslider {
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.agreeordisstxt {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 5px;
}

.sliderdatatypediv {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  display: flex;
}

.vertical-divider {
  width: 2px;
  background-color: rgba(172, 172, 172, .52);
  margin-top: 15px;
  margin-bottom: 15px;
}

.vertical-divider.forclassstat {
  margin-left: 20px;
  margin-right: 20px;
}

.knobdescrtiption {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.primengknobprofovrl {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-8 {
  text-align: center;
  flex: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.spacerhoriz {
  width: 45px;
  height: 2px;
  background-color: rgba(172, 172, 172, .52);
  margin-top: 7px;
  margin-bottom: 7px;
}

.spacerhoriz.image {
  width: 75%;
  margin-top: 15px;
  margin-bottom: 25px;
}

.spacerhoriz.image.bottom {
  width: 70%;
  background-color: rgba(172, 172, 172, .52);
  margin-top: 25px;
  margin-bottom: 15px;
}

.spacerhoriz.image.classstatsdiv {
  width: 100%;
}

.contactdiv, .educationdiv {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.contactdescription {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
}

.email {
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.professorname {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.profnameheading {
  text-align: center;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-style: normal;
}



.searchdiv {
  width: 70%;
  margin-right: 20px;
}

.coursedescription.email {
  line-height: 30px;
}

.numberofhoursweek {
  width: 100%;
}

.heading-9 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 13px;
  font-family: Inter, sans-serif;
  font-size: 90px;
}

.hourcontent {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
  display: flex;
}

.heading-11 {
  align-self: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-family: Inter, sans-serif;
}

.heading-11.hrsweekly {
  font-size: 48px;
}

.profclasstable {
  margin-top: 30px;
}

.profclasstable.card {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
}

.professorclassstat.card {
  width: 100%;
  height: 110px;
  background-color: #fff;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
}

.nameandstatheader {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.classnameandcode {
  width: auto;
  height: 100%;
  justify-content: space-around;
  padding: 20px;
  display: flex;
}

.classnameandcode.stats {
  width: 25%;
}

.classnamehead {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 20px;
  display: flex;
}

.crsovlandprimeknob {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.avrhours {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
}

@media screen and (max-width: 991px) {
  .dynamicprofcontent {
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         "Area";
  }


}

@media screen and (max-width: 767px) {
  .card {
    box-shadow: 0 2px 12px rgba(20, 20, 43, .04);
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    height: 12vh;
  }

  .professorimagenamediv.card {
    height: 500px;
  }

  .dataspecificgridwrap {
    grid-template: "."
                   "Area"
                   "Area-2"
                   "Area-3"
                   "Area-4"
                   "."
                   / 1fr;
  }

  .knobdata.card {
    margin-left: 0;
  }

  .sliderdatadiv.card {
    margin-left: 0;
    margin-right: 0;
  }

  .profinfodiv.card {
    margin-right: 0;
  }

  .sliderheadings {
    font-size: 12px;
    line-height: 15px;
  }

  .logo-holder {
    width: 40px;
    height: 40px;
  }
}

#w-node-_0245cf09-81b2-28ed-b37d-169a2ec5ef5d-93504854 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec543a-93504854, #w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec543c-93504854, #w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5444-93504854 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec545e-93504854, #w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5460-93504854 {
  grid-area: Area;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5471-93504854 {
  grid-area: Area-2;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5472-93504854 {
  grid-area: Area-3;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5473-93504854 {
  grid-area: Area-4;
}
