
<div class="sliderobjects">
  <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5460-93504854" class="sliderdatatypediv">
    <h1 id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5461-93504854" class="sliderheadings">Intellectually Challenging</h1>
  </div>
  <div class="vertical-divider"></div>
  <div class="slideranddescription">
    <div class="primengslider">
      <p-progressBar

        [value]="10"
        [style]="{ height: '12px' }"
        [showValue] = "false"
      ></p-progressBar>


    </div>
    <div class="stronglyagreeordiss">
      <h1 class="agreeordisstxt"> 0</h1>
      <h1 class="agreeordisstxt">25</h1>
      <h1 class="agreeordisstxt">50</h1>
      <h1 class="agreeordisstxt">75</h1>
      <h1 class="agreeordisstxt">100</h1>
    </div>
  </div>
</div>

