.navbar {
  height: 11vh;
  background-color: #6d1f22;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}


.contactusdiv {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.link {
  color: #fff;
  font-family: "Exo";
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
}

.crestimageholder {
  width: 20vh;
  height: 20vh;
  background-image: url('https://www.bc.edu/content/bc-web/offices/office-of-university-communications/policies-guidelines/graphic-identity-system/_jcr_content/par/responsive_columns/col1/bc_image_content/image.img.png/1550507443010.png');
  background-position: 50%;
  background-size: cover;
  margin-top: 10px;
  margin-left: 20px;
   z-index: 5;
}

