.navbar {
  height: 12vh;
  background-color: #424242;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo-holder {
  width: 250px;
  height: 45px;
  background-image: url("src/assets/Eagle Eval-logos_white.png");
  background-position: 50%;
  background-size: cover;
  margin-left: 20px;
}

.searchdiv {
  width: 100%;
  margin-right: 20px;
 
}

.searchSignInWrapper{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;

}
.signInWrapper{

  margin-right: 20px;
}



@media screen and (max-width: 991px) {


  .logo-holder {
    width: 55px;
    height: 55px;
    background-image: url("src/assets/LogoIphone.png");
  }

  .searchSignInWrapper{

    width: 80%;
  
  }

  .signInWrapper{
    width: 90px;
  
   
  }

}


@media screen and (max-width: 479px) {
  .navbar {
    height: 12vh;
  }

  .logo-holder {
    width: 40px;
    height: 40px;
  }
}

