.p-autocomplete-panel {
  position: absolute;
  top: 100%; /* Position the panel below the input */
  left: 0;
  right: 0;
  max-height: 200px; /* Set a maximum height for the panel, you can adjust this value as needed */
  overflow-y: auto; /* Add vertical scroll when needed */
  z-index: 1000; /* Adjust the z-index as needed */

  }
