<div class="sliderobjects">
  <div id="w-node-e381e299-4ce1-d895-168d-51c34a0b65ef-bca6b5a5" class="sliderdatatypediv">
    <h1 id="w-node-_91a7a2aa-e363-6554-07ae-53f7d0da5a36-bca6b5a5" class="sliderheadings">Instructor Prepared</h1>
  </div>
  <div class="vertical-divider"></div>
  <div class="slideranddescription">
    <div class="primengslider">

      <p-progressBar

        [value]="instructorPreparedValue"
        [style]="{ height: '12px' }"
        [showValue] = "false"
      ></p-progressBar></div>


    <div class="stronglyagreeordiss">
      <h1 class="agreeordisstxt">&nbsp;0&nbsp;</h1>
      <h1 class="agreeordisstxt">&nbsp;25</h1>
      <h1 class="agreeordisstxt">&nbsp;50</h1>
      <h1 class="agreeordisstxt">&nbsp;75</h1>
      <h1 class="agreeordisstxt">100</h1>
    </div>
  </div>
</div>
