<div class="bodydivcontainer">
  <div class="wrap w80">
    <div class="headline-8-col">
      <div class="tagline">feature overview</div>
      <h2 class="heading">Explore Professors, Classes, or other Statistics <br></h2>
    </div>
    <div class="content1-items">
      <div class="_4-col-2">
        <div class="content1-image content1-image1"></div>
        <div class="content1-item-description">
          <div class="decoline decoline-dark"></div>
          <h3 class="heading-4">Search Professors</h3>
          <p class="text-14 text-14-60">Gain valuable insights into our Boston College professors, browse their qualities like instructor preparedness, accessibility outside of class, and much more. Plus, we've gone the extra mile to rank all the courses they offer! </p>
        </div>
      </div>
      <div class="_4-col-2">
        <div class="content1-image content1-image2"></div>
        <div class="content1-item-description">
          <div class="decoline decoline-dark"></div>
          <h3 class="heading-3">Search Courses</h3>
          <p class="text-14 text-14-60">Search thousands of BC classes and access statistics such as attendance requirements, average weekly hours, and much more! Compare different professors teaching a specified course. We've organized this information to simplify the process of selecting courses, making it as stress-free as possible.</p>
        </div>
      </div>
      <div class="_4-col-2 _4-col-last">
        <div class="content1-image content1-image3"></div>
        <div class="content1-item-description">
          <div class="decoline decoline-dark"></div>
          <h3 class="heading-2">Explore Statistics</h3>
          <p class="text-14 text-14-60">We've sourced our data straight from BC's Professor and Class API, ensuring you have access to the most current and authentic information available. To make your decision-making process smoother, we've averaged and presented this data in an easily digestible, user-friendly format</p>
        </div>
      </div>
    </div>
  </div>
</div>
