<div class="mainsection">
  <div class="contentwrapper">
    <div class="w-layout-grid dynamicprofcontent">
      <div id="w-node-_0245cf09-81b2-28ed-b37d-169a2ec5ef5d-93504854" class="professorimagenamediv card">
        <div class="professorname">
          <h1 class="profnameheading">Logic and Comptation</h1>
        </div>
        <div class="spacerhoriz image"></div>
        <div class="profinfodiv card adjustedclass">
          <div class="contactdiv">
            <h1 class="sliderheadings profscore contact">Course Info</h1>
            <div class="spacerhoriz"></div>
          </div>
          <div class="contactdescription">
            <div class="email">Subject: Computer Science</div>
            <div class="email">Course Code: CSCI1101</div>
            <div class="email">College: Morrissey School of Arts and Sciences</div>
          </div>
          <div class="educationdiv">
            <h1 class="sliderheadings profscore contact">Description</h1>
            <div class="spacerhoriz"></div>
            <div class="coursedescription email">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>
        </div>
        <div class="spacerhoriz image bottom"></div>
      </div>
      <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec543a-93504854" class="card">
        <div class="w-layout-grid dataspecificgridwrap">


          <app-class-score-knob></app-class-score-knob>
          <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5444-93504854" class="profinfodiv card averagehoursweekly">
            <div class="numberofhoursweek">
              <div class="hourcontent">
                <h1 class="heading-9">10 </h1>
                <h1 class="heading-11">hrs/week</h1>
              </div>
            </div>
            <div class="knobdescrtiption">
              <div class="spacerhoriz"></div>
              <h1 class="heading-8">Weighted Avg. of every rating given on this class</h1>
            </div>
          </div>
          <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec545e-93504854" class="sliderdatadiv card">
            <div class="sliderobjects">
              <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5460-93504854" class="sliderdatatypediv">
                <h1 id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5461-93504854" class="sliderheadings">Instructor Prepared</h1>
              </div>
              <div class="vertical-divider"></div>
              <div class="slideranddescription">
                <div class="primengslider"></div>
                <div class="stronglyagreeordiss">
                  <h1 class="agreeordisstxt"> 0</h1>
                  <h1 class="agreeordisstxt">25</h1>
                  <h1 class="agreeordisstxt">50</h1>
                  <h1 class="agreeordisstxt">75</h1>
                  <h1 class="agreeordisstxt">100</h1>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5471-93504854" class="sliderdatadiv card"></div>
          <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5472-93504854" class="sliderdatadiv card"></div>
          <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5473-93504854" class="sliderdatadiv card bottomslider"></div>
        </div>
      </div>
    </div>
  </div>
</div>
