.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.navbar {
  height: 12vh;
  background-color: #5c0d0f;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer {
  height: 10vh;
  background-color: #6d1f22;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.text-block {
  color: #fff;
  margin-left: 20px;
  font-family: Exo, sans-serif;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.mainsection {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dynamicprofcontent {
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: .5fr 1fr;
  margin-top: 30px;
}

.contentwrapper {
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.professorimagenamediv.card {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  display: flex;
}

.card {
  background-color: #eee;
  border: 1px solid #e6e9f1;
  border-radius: 12px;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .09);
}

.dataspecificgridwrap {
  background-color: #eee;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: ". ."
                       "Area Area"
                       "Area-2 Area-2"
                       "Area-3 Area-3"
                       "Area-4 Area-4";
  padding: 10px;
}

.knobdata.card {
  height: 93%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 20px;
  padding: 24px;
  display: flex;
}

.sliderdatadiv.card {
  height: 70px;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

.sliderdatadiv.card.bottomslider {
  margin-bottom: 0;
}

.profinfodiv.card {
  height: 93%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px 20px 20px 0;
  padding: 24px;
  display: flex;
}

.profinfodiv.card.averagehoursweekly {
  justify-content: center;
  align-items: center;
}

.profinfodiv.card.classinfo {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.sliderobjects {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.sliderheadings {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.sliderheadings.profscore {
  font-size: 22px;
}

.sliderheadings.profscore.contact {
  text-align: left;
  font-size: 20px;
}

.slideranddescription {
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  display: flex;
}

.stronglyagreeordiss {
  width: 95%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  display: flex;
}

.primengslider {
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.agreeordisstxt {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 5px;
}

.sliderdatatypediv {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  display: flex;
}

.vertical-divider {
  width: 2px;
  background-color: rgba(172, 172, 172, .52);
  margin-top: 15px;
  margin-bottom: 15px;
}

.knobdescrtiption {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.primengknobprofovrl {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-8 {
  text-align: center;
  flex: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.spacerhoriz {
  width: 45px;
  height: 2px;
  background-color: rgba(172, 172, 172, .52);
  margin-top: 7px;
  margin-bottom: 7px;
}

.spacerhoriz.image {
  width: 75%;
  margin-top: 15px;
  margin-bottom: 25px;
}

.spacerhoriz.image.bottom {
  width: 70%;
  background-color: rgba(172, 172, 172, .52);
  margin-top: 25px;
  margin-bottom: 15px;
}

.contactdiv, .educationdiv {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.contactdescription {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
}

.email {
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.professorname {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.profnameheading {
  text-align: center;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-style: normal;
}




.professorimage.card {
  height: 600px;
  background-position: 50%;
  margin: 0;
}



.searchdiv {
  width: 70%;
  margin-right: 20px;
}

.coursedescription.email {
  line-height: 30px;
}

.numberofhoursweek {
  width: 100%;
}

.heading-9 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 13px;
  font-family: Inter, sans-serif;
  font-size: 90px;
}

.hourcontent {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
  display: flex;
}

.heading-11 {
  align-self: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-family: Inter, sans-serif;
}

.heading-11.hrsweekly {
  font-size: 48px;
}

@media screen and (max-width: 991px) {
  .dynamicprofcontent {
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         "Area";
  }


}

@media screen and (max-width: 767px) {
  .card {
    box-shadow: 0 2px 12px rgba(20, 20, 43, .04);
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    height: 12vh;
  }

  .professorimagenamediv.card {
    height: auto;
  }

  .dataspecificgridwrap {
    grid-template: "."
                   "Area"
                   "Area-2"
                   "Area-3"
                   "Area-4"
                   "."
                   / 1fr;
  }

  .knobdata.card {
    margin-left: 0;
  }

  .sliderdatadiv.card {
    margin-left: 0;
    margin-right: 0;
  }

  .profinfodiv.card {
    margin-right: 0;
  }

  .sliderheadings {
    font-size: 12px;
    line-height: 15px;
  }

  .logo-holder {
    width: 40px;
    height: 40px;
  }
}

#w-node-c87be3b7-c141-005e-9f22-f1ade205e490-bca6b5a5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_1f2ae32f-a360-e950-5bea-c98badf7a3f2-bca6b5a5, #w-node-aa7a8a2f-c845-0fce-f654-85ceb364e554-bca6b5a5, #w-node-e211b9d4-0e08-2720-9313-0428ac4843e1-bca6b5a5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_95dac4bd-9b80-4676-ae0a-c18e352028ff-bca6b5a5, #w-node-e381e299-4ce1-d895-168d-51c34a0b65ef-bca6b5a5 {
  grid-area: Area;
}

#w-node-a199bd73-aaf9-6117-3178-8728a85d5cad-bca6b5a5 {
  grid-area: Area-2;
}

#w-node-_75a4d4e9-2782-7447-93c2-b96dafa9f4b4-bca6b5a5 {
  grid-area: Area-3;
}

#w-node-_587fad7d-1f9a-5278-b549-06e5d178121f-bca6b5a5 {
  grid-area: Area-4;
}

#w-node-_0245cf09-81b2-28ed-b37d-169a2ec5ef5d-93504854 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec543a-93504854, #w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec543c-93504854, #w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5444-93504854 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec545e-93504854, #w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5460-93504854 {
  grid-area: Area;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5471-93504854 {
  grid-area: Area-2;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5472-93504854 {
  grid-area: Area-3;
}

#w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5473-93504854 {
  grid-area: Area-4;
}
