<app-home-bar></app-home-bar>

<div class="mainsection">
  <div class="contentwrapper">
    <div class="w-layout-grid dynamicprofcontent">
     <app-course-info-card></app-course-info-card>




      <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec543a-93504854" class="card">
        <div class="w-layout-grid dataspecificgridwrap">


          <app-class-score-knob></app-class-score-knob>

          <app-course-avg-hours></app-course-avg-hours>


          <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec545e-93504854" class="sliderdatadiv card">

          <app-course-attendance></app-course-attendance>
          </div>


          <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5471-93504854" class="sliderdatadiv card">


            <app-course-intellectually-challenging></app-course-intellectually-challenging>
          </div>
          <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5472-93504854" class="sliderdatadiv card">

            <app-course-well-organized></app-course-well-organized>


          </div>
          <div id="w-node-_65b1e46a-f1fb-bc44-019d-7a3f9fec5473-93504854" class="sliderdatadiv card bottomslider">


        <app-course-assign-helpful></app-course-assign-helpful>


          </div>
        </div>
      </div>
    </div>

    <app-class-stat-table></app-class-stat-table>
  </div>
</div>
<router-outlet></router-outlet>
