<app-home-bar></app-home-bar>

<section class="contentwrapper">
  <div class="w-layout-grid dynamicprofgrid">
    <div id="w-node-d9f8d9d4-fd1f-09b9-4f0d-5f74494a2159-b68642c4" class="card">
      <!-- CLASS HRS / DESCRIP ENTRY -->

      <app-class-info-card></app-class-info-card>

    </div>
    <div id="w-node-e1d71806-b979-52f8-f44f-7e04e8858948-b68642c4" class="card">
      <div class="w-layout-grid profdatagrid">
        <div id="w-node-eabfb9ca-8044-14b0-125e-cbca8a67454b-b68642c4" class="whitecard">
          <div class="professorscorebarwrapper">
            <div class="profscoreknobdiv">
              <div class="profscoreknob"></div>
              <div class="knobdataholderdiv">
                <div class="contact-edutextheader">Course Overall</div>
                <div class="smlldiv"></div>
                <div class="description1">Weighted Avg. of every rating given on this class</div>
              </div>
            </div>
            <div class="quaddatadiv">
              <div class="silderdatadiv">
                <div class="silderscore">88</div>
                <div class="smlldiv"></div>
                <div class="sliderdatatext">Attendance Necessary</div>
              </div>
              <div class="silderdatadiv">
                <div class="silderscore">74</div>
                <div class="smlldiv"></div>
                <div class="sliderdatatext">Well Organized</div>
              </div>
              <div class="silderdatadiv">
                <div class="silderscore">61</div>
                <div class="smlldiv"></div>
                <div class="sliderdatatext">Intellectually Challenging</div>
              </div>
              <div class="silderdatadiv">
                <div class="silderscore">No Data</div>
                <div class="smlldiv"></div>
                <div class="sliderdatatext">Assignments Helpful</div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-dfff5bd2-9150-0e9f-1075-ee38b2732c08-b68642c4" class="whitecard">
          <div class="professorclassheaderdiv">
            <h1 class="nameandstatheader">Professors who teach CSCI2271</h1>
            <div class="fildwidthdiv"></div>
          </div>
          <div class="professorclasstablewrapper">
            <div class="w-layout-grid grid">
              <div class="class whitecard">
                <h1 class="classnameprof">Carl McTague</h1>
                <div class="smllprofessorimgwrapper">
                  <div class="smllprofessorimg card"></div>
                  <div class="veritcal-divider"></div>
                  <div class="professorovlcourseknob"></div>
                </div>
                <div class="fildwidthdiv"></div>
                <div class="contact-edutextheader">Professor Review</div>
                <div class="smlldiv"></div>
                <div class="reviewaccordian"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
