<div id="w-node-aa7a8a2f-c845-0fce-f654-85ceb364e554-bca6b5a5" class="knobdata card">
  <div class="primengknobprofovrl">

    <p-knob
      [(ngModel)]="value"
      [size] = "250"
      [readonly] = "true"
      [strokeWidth]="10"
      [disabled] = "isDisabled"

    ></p-knob>

  </div>
  <div class="knobdescrtiption">
    <h1 class="sliderheadings profscore">Professor Overall</h1>
    <div class="spacerhoriz"></div>
    <h1 class="heading-8">Weighted Avg. of class scores Professor teaches</h1>
  </div>
</div>
