<div class="descriptionhm">
  <div class="subonewrap">
    <div class="hero1-headline-wrapper">
      <div class="tagline-2">WELCOME TO EAGLE EVAL</div>
      <h2 class="heading-5">A Boston College Professor Rating System Made by BC Students for BC Students</h2>
    </div>
    <div class="divider"></div>
    <div class="subsection">
      <p class="paragraph">Search curated statistics from over 1,500 different Boston College Professors and over 3,500 Classes. We&#x27;ve compiled thousands of student ratings to help our peers make informed decisions about thier academic journey.<br> Explore, Evaluate, Excel!</p>
    </div><img src="./assets/651ed8c2e8f0f5dbfc532bb0_iMac-Pro2x.jpg" width=auto sizes="(max-width: 767px) 100vw, (max-width: 991px) 650px, 1000px" srcset="./assets/651ed8c2e8f0f5dbfc532bb0_iMac-Pro2x-p-500.jpg 500w, ./assets/651ed8c2e8f0f5dbfc532bb0_iMac-Pro2x-p-800.jpg 800w, ./assets/651ed8c2e8f0f5dbfc532bb0_iMac-Pro2x-p-1080.jpg 1080w, ./assets/651ed8c2e8f0f5dbfc532bb0_iMac-Pro2x-p-1600.jpg 1600w, ./assets/651ed8c2e8f0f5dbfc532bb0_iMac-Pro2x.jpg 1838w" alt="" class="hero1-image">
  </div>
</div>
