<div id="w-node-_0245cf09-81b2-28ed-b37d-169a2ec5ef5d-93504854" class="professorimagenamediv card">
  <div class="professorname">
    <h1 class="profnameheading">{{courseTitle}}</h1>
  </div>
  <div class="spacerhoriz image"></div>
  <div class="profinfodiv card adjustedclass">
    <div class="contactdiv">
      <h1 class="sliderheadings profscore contact">Course Info</h1>
      <div class="spacerhoriz"></div>
    </div>
    <div class="contactdescription">
      <div class="email">Subject: {{crsSubject}}</div>
      <div class="email">Course Code: {{crsCode}}</div>
      <div class="email">College: {{crsCollege}}</div>
    </div>
    <div class="educationdiv">
      <h1 class="sliderheadings profscore contact">Description</h1>
      <div class="spacerhoriz"></div>
      <div class="coursedescription email">{{crsDesc}}</div>
    </div>
  </div>
  <div class="spacerhoriz image bottom"></div>
</div>
