<div id="w-node-_0245cf09-81b2-28ed-b37d-169a2ec5ef5d-93504854" class="professorimagenamediv card">
  <div class="professorname">
    <h1 class="profnameheading">Logic and Comptation</h1>
  </div>
  <div class="spacerhoriz image"></div>
  <div class="profinfodiv card adjustedclass">
    <div class="contactdiv">
      <h1 class="sliderheadings profscore contact">Course Info</h1>
      <div class="spacerhoriz"></div>
    </div>
    <div class="contactdescription">
      <div class="email">Subject: Computer Science</div>
      <div class="email">Course Code: CSCI1101</div>
      <div class="email">College: Morrissey School of Arts and Sciences</div>
    </div>
    <div class="educationdiv">
      <h1 class="sliderheadings profscore contact">Description</h1>
      <div class="spacerhoriz"></div>
      <div class="coursedescription email">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
  </div>
  <div class="spacerhoriz image bottom"></div>
</div>
