

  .classdatascorediv {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex
  }


  .classdatawrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
  }


  .subject {
    margin-bottom: 5px;
    font-family: Inter,sans-serif;
    font-size: 18px
  }


  .classcodecollegetxt {
    margin-top: 5px;
    font-family: Inter,sans-serif;
    font-size: 14px
  }



.classscoreknobproftable {
    height: 100px
  }




  @media screen and (max-width:479px) {

    

      .classdatascorediv {
        flex-direction: column;
        justify-content: center
      }

    


  }