.professorclassheaderdiv {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 0;
    display: flex
  }

  .nameandstatheader {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    font-family: Inter,sans-serif
  }


.professorclasstablewrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px 20px;
    display: flex
  }

  .class {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex
  }
  .class.whitecard {
    align-items: flex-start
  }

  .classnameprof {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 30px;
    line-height: 40px
  }

  .classdatascorediv {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex
  }


  .classdatawrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
  }


  .subject {
    margin-bottom: 5px;
    font-family: Inter,sans-serif;
    font-size: 18px
  }


  .classcodecollegetxt {
    margin-top: 5px;
    font-family: Inter,sans-serif;
    font-size: 14px
  }


  .veritcal-divider {
    width: 2px;
    height: 75%;
    background-color: rgba(172,172,172,.52);
    margin-left: 10px;
    margin-right: 10px
  }



.classscoreknobproftable {
    height: 100px
  }


  .crsdesct {
    font-family: Inter,sans-serif;
    line-height: 25px
  }


  @media screen and (max-width:767px) {

    .nameandstatheader {
        font-size: 30px
      }

      .classnameprof {
        font-size: 20px
      }



  }

  @media screen and (max-width:479px) {

    .nameandstatheader {
        font-size: 30px
      }

      .classnameprof {
        font-size: 20px
      }

      .classdatascorediv {
        flex-direction: column;
        justify-content: center
      }

      .veritcal-divider {
        display: none
      }


  }