<div class="professorclassheaderdiv">
    <h1 class="nameandstatheader">Jeremy Wilkin&#x27;s Class Statistics </h1>
    <div class="fildwidthdiv"></div>
  </div>


  
  <div class="professorclasstablewrapper">
    <div class="w-layout-grid grid">

        <!-- Repeatable class card -->
      <div class="class whitecard">
        <h1 class="classnameprof">Western Perspectives I </h1>
        <div class="smlldiv"></div>
        <div class="classdatascorediv">
          <div class="classdatawrapper">
            <div class="subject">Computer Science</div>
            <div class="classcodecollegetxt">CSCI2247 | MCAS</div>
          </div>
          <div class="veritcal-divider"></div>
          <div class="classscoreknobproftable">

            <p-knob
            [(ngModel)]="courseOvl"
            [size] = "110"
            [readonly] = "true"
            [strokeWidth]="12.5"
            [disabled] = "true"
          ></p-knob>
    

          </div>
        </div>
        <div class="contact-edutextheader">Course Description</div>
        <div class="smlldiv"></div>
        <div class="crsdesct">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#x27;Content here, content here&#x27;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#x27;lorem ipsum&#x27; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
      </div>
    
      <!-- ******************* -->
    </div>
  </div>
